<% content_for :pageTitle, "Produtos - Criar" %>
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Criar um novo produto</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<%= form_for Produto.new do |f| %>
		<div class="box-body">
		  	<div class="row">
				<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Nome: </label>
									<%= f.text_field :nome, class: "form-control", :required => true %>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label>Quantidade: </label>
									<%= f.number_field :quantidade, step: 1, min: 1, class: "form-control", :required => true %>
								</div>
							</div>
							<div class="col-lg-3">
								<label>Preço: </label>
								<%= f.number_field :preco, class: "form-control", :required => true %>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<label>Descrição: </label>
								<%= f.text_area :descricao, rows: 4, class: "form-control", :required => true %>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<div class="row pull-right">
				<div class="col-lg-12 ">
					<%= f.submit value: "Criar o produto", class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	<% end %>
</div>